* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    justify-content: center;
    align-items: center;
    display: flex;
}

.container {
    display: grid;
    height: 800px;
    width: 800px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 20px;
    padding: 10px;
}

.box {
    background-color: blueviolet;
}

.first {
    grid-row: 1/3;
    background-color: red;
}

.second {
    grid-column: 2/4;
    background-color: greenyellow;
}

/* .four{
    grid-column: ;
} */
.six {
    grid-row: 2/4;
    grid-column: 4/5;
}